@model IEnumerable<Department>

@{
    ViewData["Title"] = "Departments";
}


<div class="container-fluid">
    <h1 class="mt-4 ">Departments List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="Departments" asp-action="Create">Create New Department</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">
            
            <p class="fw-bold text-bg-dark"><i> You can see all departments in this area...</i> </p>
            
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Department department in Model)
                    {
                        <tr>
                            <td>@department.Id</td>
                            <td>@department.Name</td>
                            <td>@department.Description</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Departments" asp-action="Edit" asp-route-id="">Edit</a> |

                                <a class="btn btn-danger" asp-controller="Departments" asp-action="Delete" asp-route-id="">Delete</a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


