@model Setting

@{
    ViewData["Title"] = "Create a Setting";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Settings" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group ms-2 mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-outline-dark" asp-controller="Settings" asp-action="Index">Back To List</a>
</div>

