@model DashboardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container-fluid">
    <h1 class="mt-4">Admin Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user mr-1"></i>
                    User Information
                </div>
                <div class="card-body">
                    <p>Welcome <strong>@Model.FullName</strong></p>
                    <p>Email: @Model.Email</p>
                    <p>City: @Model.City</p>
                    <p>Phone: @Model.Phone</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Additional widgets or content can be added here -->
        </div>
    </div>
</div>


