<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Hospital Admin Panel</div>
                    <a class="nav-link" asp-controller="Appointments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                        Appointments
                    </a>
                    <a class="nav-link" asp-controller="Contacts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-address-book"></i></div>
                        Contacts
                    </a>
                    <a class="nav-link" asp-controller="DepartmentPosts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        DepartmentPosts
                    </a>
                    <a class="nav-link" asp-controller="Departments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                        Departments
                    </a>
                    <a class="nav-link" asp-controller="Doctors" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></div>
                        Doctors
                    </a>
                    <a class="nav-link" asp-controller="Pages" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                        Pages
                    </a>

                    <a class="nav-link" asp-controller="Patients" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Patients
                    </a>
                    <a class="nav-link" asp-controller="PostComments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                        PostComments
                    </a>

                    <a class="nav-link" asp-controller="Posts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                        Posts
                    </a>
                    <a class="nav-link" asp-controller="Roles" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
                        Roles
                    </a>
                    <a class="nav-link" asp-controller="Settings" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                        Settings
                    </a>
                    <a class="nav-link" asp-controller="Users" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Users
                    </a>
                    <a class="nav-link" asp-controller="Subscribers" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Subscribbers
                    </a>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Welcome</div>
                    Logged as: Hospital Admin
                </div>
        </nav>
    </div>
