<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.Admin.styles.css" asp-append-version="true" />


    @*mazer template css*@

    @*pages*@
    <link href="~/mazer-template/assets/css/pages/auth.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/chat.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/datatables.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/dripicons.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/email.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/error.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/filepond.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/fontawesome.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/form-element-select.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/quill.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/rater-js.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/simple-datatables.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/summernote.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/sweetalert2.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/pages/toastify.css" rel="stylesheet" />

    @*shared*@
    <link href="~/mazer-template/assets/css/shared/iconly.css" rel="stylesheet" />

    @*widgets*@
    <link href="~/mazer-template/assets/css/widgets/chat.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/widgets/todo.css" rel="stylesheet" />

    @*main*@
    <link href="~/mazer-template/assets/css/main/app.css" rel="stylesheet" />
    <link href="~/mazer-template/assets/css/main/app-dark.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">App.Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - App.Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Mazer Template*@

    @*Js*@
    <script src="~/mazer-template/assets/js/568.js" defer></script>
    <script src="~/mazer-template/assets/js/bootstrap.js" defer></script>
    <script src="~/mazer-template/assets/js/node_modules_simple-datatables_src_date_js.js" defer></script>
    <script src="~/mazer-template/assets/js/mazer.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/ckeditor.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/dashboard.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/datatables.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/filepond.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/form-editor.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/form-element-select.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/horizontal-layout.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/jquery.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/parsley.js"defer></script>
    <script src="~/mazer-template/assets/js/pages/quill.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/rater-js.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/simple-datatables.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/summernote.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/sweetalert2.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/tinymce.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/toastify.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/ui-apexchart.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/ui-chartjs.js" defer></script>
    <script src="~/mazer-template/assets/js/pages/ui-todolist.js" defer></script>
 

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
