@inject HttpClient _httpClient;
@inject IConfiguration configuration
@{
    string _apiAddress = configuration.GetValue<string>("Api:RootUrl") + configuration.GetValue<string>("Api:Users");
    int? userId2 = Context.Session.GetInt32("userId");
    List<User> UserList = await _httpClient.GetFromJsonAsync<List<User>>(_apiAddress);

    User? mainUser = UserList.FirstOrDefault(u => u.Id == userId2);
}
@{
    string _apiAddressSettings = configuration.GetValue<string>("Api:RootUrl") + configuration.GetValue<string>("Api:Settings");
    var settings = await _httpClient.GetFromJsonAsync<List<Setting>>(_apiAddressSettings);

    var setting = settings?.FirstOrDefault(s => s.IsActive);
}

@******** Header   *********@
<style>
    .brand-name {
        font-style: italic;
        font-weight: bold;
        color: #333; /* Burayı markanıza uygun bir renkle değiştirebilirsiniz */
        font-family: 'Arial', sans-serif; /* Markanıza uygun bir yazı tipi kullanabilirsiniz */
        margin-left: 10px; /* Resim ile isim arasında bir boşluk olması için */
    }
</style>

<nav class="navbar navbar-expand-lg navigation" id="navbar">
    <div class="container">
       
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            @if (setting.Image != null)
            {
                <img src="@setting.Image" class="img-fluid border-0 rounded-2" style="max-height:75px" />
                <span class="brand-name">@setting.Name</span>
            }
            else
            {
                <div class="col-6">
                    <img src="~/hospitaltemplate/images/logo.png" class="img-fluid shadow border border-1 border-dark" style="max-height:75px" />
                </div>
                <div class="col-6   align-self-center">
                    <h5 id="HospitalName" class="fst-italic">@setting.Name</h5>
                </div>
                <img src="~/hospitaltemplate/images/logo.png" />

            }

        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icofont-navigation-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="About" asp-action="Create">About</a></li>
                @*    <li class="nav-item"><a class="nav-link" asp-controller="Services">Services</a></li> *@

                <!-- Polikliniklerin listelendiği ve hizmetlere gidildiği kısım -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" asp-controller="Department" id="dropdown05" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Departments <i class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                        @*   <li><a class="dropdown-item" asp-controller="Department" asp-action="Index">All Services</a></li> *@
                        @await Component.InvokeAsync("DepartmentsServices")
                    </ul>
                </li>



                <!-- Doktorların Polikliniklere Göre Listelendiği Kısım -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" asp-controller="Doctor" id="dropdown03" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Our Team Members<i class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" asp-controller="Doctor" asp-action="Index">Doctors</a></li>
                        @await Component.InvokeAsync("Doctors")
                    </ul>
                </li>

                <!-- Poliklinik Bloglarının Polikliniklere Göre Listelendiği Kısım -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" asp-controller="Department" id="dropdown02" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Departments Blog <i class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" asp-controller="Department" asp-action="Index">Departments</a></li>
                        @await Component.InvokeAsync("Departments")



                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" asp-controller="contact" asp-action="Index">Contact</a></li>
                @if (mainUser != null && mainUser.RoleId == 3)
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Patient" asp-action="Index">My Health</a></li>

                    <li class="nav-item"><a class="nav-link btn btn-outline-danger" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                }
                else if (mainUser != null)
                {
                    <li class="nav-item"><a class="nav-link btn btn-outline-danger" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                }
                else
                {

                    <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>
    </div>
</nav>