<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Web.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.Web.Mvc.styles.css" asp-append-version="true" />
    <link href="~/hospitaltemplate/plugins/icofont/icofont.css" rel="stylesheet" />
    <link href="~/hospitaltemplate/plugins/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/hospitaltemplate/css/style.css" rel="stylesheet" />
    <a href="~/hospitaltemplate/css/style.css.map">~/hospitaltemplate/css/style.css.map</a>
</head>
<body>
    <header>

        <partial name="_Topbar" />
        <partial name="_Header" />

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/hospitaltemplate/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
