@model Image

@{
    ViewData["Title"] = "Create a Image";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Images" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageTitle" class="control-label"></label>
                <input asp-for="ImageTitle" class="form-control" />
                <span asp-validation-for="ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" type="file" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
           
            <div class="form-group ms-2 mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-outline-dark" asp-controller="Images" asp-action="Index">Back To List</a>
</div>

