@model DepartmentPost

@{
    ViewData["Title"] = "Edit DepartmentPost";
}

<div class="container-fluid bg-light">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 rounded">
                <h2 class="mb-4">@ViewData["Title"]</h2>
                <hr />

                <form asp-controller="DepartmentPosts" asp-action="Edit" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="PostId" class="form-label"></label>
                        <select asp-for="PostId" class="form-select" asp-items="ViewBag.PostId"></select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="DepartmentId" class="form-label"></label>
                        <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.DepartmentId"></select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
                </form>
            </div>
        </div>
    </div>
</div>
